In [62]:
# string
not_tab_string=r"\t"
print(len(not_tab_string))

2

In [63]:
#  multiple string using 3 double quotes
multiple_string=""" this is the first line and 
and this is second line 
and this is third line"""

In [64]:
# alternative way of multiple string is to use formatting string
first_name="joel"
second_name="grus"
full_name=f"{first_name} {second_name}" # difference
print(full_name)

joel grus

In [65]:
first_name="joel"
second_name="grus"
full_name=f"{first_name}{second_name}"
print(full_name)

joelgrus

In [66]:
# exceptions
try:
    print(0/0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

In [67]:
#list
l1=[1,2,3]
l2=["string",121,True] #true!=True
listoflist=[l1,l2,[]]
print(len(l1))
print(len(l2))

3
3

In [68]:
x=[0,1,2,3,4,5,6,7,8,9,10]
zero=x[0]    # print(zero=x[0]) wrong way to print 
first3=x[:3]
Threetoend=x[3:]
ont2four=x[1:5]
last3=x[-3:]
withoutfirstandlast=x[1:-1]
everythird=x[::3]
fiveto3=x[5:-1]
1 in x
-1 in x

False

In [69]:
# tuple
x,y=1,2 # x=1,y=2
x,y=y,x #swap variables now x is 2 and y is 1 # this can be done one list also as same as tuple

In [70]:
#dict
empty_dict={}
empty_dict2=dict()
grades={"joel":3243, "time":2324234} #"joel" = 3243 is wrong
joelgrades=grades["joel"]
print(joelgrades)

3243

In [71]:
# default dict                 #use to count words in document
# wordcounts={} # isme mtlb kaise document to import ya variable k through krenge nhi samajh aaya
# for word in document:
#     if word in wordcounts:
#         worlcount[word]+=1
#     else:
#         wordcount[word]=1

In [72]:
# set
s=set()
s.add(1)
s.add(2)
s.add(3)
x=len(s)
y=2 in s
print(x)
print(y)

3
True

In [73]:
# # control flow
# if else , if not , etc


#sorting 
x=[1,23,4,-23,343]
y=sorted(x) # by default ascending 
print(y)
x.sort()
print(x)

[-23, 1, 4, 23, 343]
[-23, 1, 4, 23, 343]

In [74]:
# for descending
x=sorted([1,23,4,-23,343], key=abs,reverse=True)
print(x)

[343, 23, -23, 4, 1]

In [75]:
#list comprehension
even_numbers=[x for x in range(5) if x %2 == 0 ]
print(even_numbers)

[0, 2, 4]

In [76]:
# list with multiple for 
pairs=[
    (x,y) 
    for x in range(10)
    for y in range(10)
]
print(pairs)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (0, 8), (0, 9), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8), (5, 9), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7), (6, 8), (6, 9), (7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7), (7, 8), (7, 9), (8, 0), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (8, 8), (8, 9), (9, 0), (9, 1), (9, 2), (9, 3), (9, 4), (9, 5), (9, 6), (9, 7), (9, 8), (9, 9)]

In [86]:
# oops , codes nhi samajh aar isme
# iterable and generators # nhi samajh aaya
#randomness   ## generate random numbers
import random
random.seed(10)
four_uniform_randoms=[random.random() for _ in range(4)]
print(random.random())
print(four_uniform_randoms)

0.81332125135732
[0.5714025946899135, 0.4288890546751146, 0.5780913011344704, 0.20609823213950174]

In [87]:
import pandas as pd

In [88]:
pip install

Note: you may need to restart the kernel to use updated packages.

ERROR: You must give at least one requirement to install (see "pip help install")